body{
  background-image: url("https://i.pinimg.com/564x/ed/e2/fb/ede2fbd643950d0d33e287e072942d28.jpg");
   background-repeat: no-repeat, repeat;
 background-size:cover
}

.con{
  border-radius: 20px;
  background-color: #f2f2f2c7;
  padding: 20px;
  margin:300px;
  height:500px;
}

#fligth{  display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #357ae8;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #874eba42;
  margin:10px;
}
#hotel{  display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #357ae8;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #874eba42;
  margin:10px;
}
#Tourism-trips{  display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #357ae8;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #874eba42;
  margin:10px;
}
